@using EntityLayer.Concrete
@model UserUpdateViewModel
@{
    ViewData["Title"] = "ProfileSetting";
    Layout = "~/Views/Shared/UserProfileLayout.cshtml";
}

<h4>Profil Ayarları</h4>

    <form class="form-inline" method="post">
        
         <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Ad Soyad</label>
            <input type="text" asp-for="@Model.namesurname" class="form-control" id="inputPassword2" placeholder="Adı soyadı" value="@Model.namesurname" readonly>
        </div>
       @*  <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Sınıf</label>
            <input type="text" asp-for="@Model.Sinif_name" class="form-control" id="inputPassword2" placeholder="Sınıfı" value="@Model.Sinif_name" readonly>
        </div>*@
         <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Şube</label>
            <input type="text" asp-for="@Model.sube" class="form-control" id="inputPassword2" placeholder="Şube" value="@Model.sube" readonly>
        </div>
         <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Okul No</label>
            <input type="text" asp-for="@Model.okul_no" class="form-control" id="inputPassword2" placeholder="Okul no" value="@Model.okul_no" readonly>
        </div>
      
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Kullanıcı Adı</label>
            <input type="text" asp-for="@Model.username" class="form-control" id="inputPassword2" placeholder="Kullanıcı Adı" value="@Model.username" readonly>
        </div>
       
        <div class="form-group mx-sm-3 mb-2">
            <label for="inputPassword2" class="sr-only">Şifre</label>
            <input type="text" asp-for="@Model.PasswordHash" class="form-control" id="inputPassword2" placeholder="Şifre" value="">
        </div>

         
      
        <button type="submit" class="btn btn-primary mb-2">Kaydet</button>
    </form>

