@using EntityLayer.Concrete
@using WebApplication1.Models
@model AddicerikViewModel
@{
    ViewData["Title"] = "Addicerik";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<br />

@using (Html.BeginForm("Addicerik", "Admin", FormMethod.Post, new 
                                       { enctype = "multipart/form-data" }))
{
    @Html.Label("Ders başlığı")
    @Html.TextBoxFor(x=>x.icerik_name, new { @class="form-control"})
    @Html.ValidationMessageFor(x=>x.icerik_name)
    <br />

    @Html.Label("Sınıf seçiniz")
    @Html.DropDownListFor(x => x.Sinif_id,(List<SelectListItem>)ViewBag.Siniflarlist, new { @class = "form-control", id="SinifSelectBox"} )
    <br />

    @Html.Label("Dersler")
    <select class="form-control" id="DerslerDropDown">

    </select>
   
    <br />
  
  
    @Html.Label("Sunumun yolunu giriniz:")
    @Html.TextBoxFor(x=>x.Yol, new {@class="form-control"})
    <br />

    @Html.Label("Ders icerik Resim Ekle")<br />
    @Html.TextBoxFor(x=>x.image,new{@type="file"})
    <br /><br />
    <button class="btn btn-info">Yazıyı kaydet</button>
   
}
@section footer{
@*<script>
	$(document).ready(function(){
	  getModel($("#SinifSelectBox").val())
	})

	function getModel(Sinif_id){
	   $.post("@Url.Action("GetSinif","Admin",new{Area="Admin"})",{id:Sinif_id})
		.then(data=>{
			$("#DerslerDropDown").children().remove();
           
			var modelContent=""
			data.map(item=>{
                 //console.log(item)
				modelContent+=`<option value="${item.value}">${item.text}</option>`
			})
			$("#DerslerDropdown").append(modelContent);
		})
		.catch(err=>console.log(err))
	}

	$("#SinifSelectBox").change(function(){
		getModel(this.value)
	})
</script>
*@



<script>
$("#DerslerDropDown").change(function () {
        var Sinif_id = $(this).val();
        console.log(Sinif_id);
        loadstates(Sinif_id);
    });

    function loadstates(Sinif_id) {
           var strUrl = '@Url.Action("GetSinif", "User")';
            $.ajax({
                url: strUrl ,
                type: "GET",
                data: {Sinif_id: Sinif_id},
                success: function (data) {
                    $.each(data, function (index, value) {
                        var text1 = '<option value=' + value.stateId + '>' +
                            value.name+
                            '</option>';
                        $("#ddlStates").append(text1);
                    });
                },
                error: function (result) {
                    alert("error occured");
                }
            });
        }
    </script>
}
