@using EntityLayer.Concrete
@model Siniflar
@{
    ViewData["Title"] = "EditClass";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Sınıf Düzenle</h1>

@using (Html.BeginForm("EditClass", "Admin", FormMethod.Post, new 
                                       { enctype = "multipart/form-data" }))
{
    @Html.Label("Sinif id")
    @Html.TextBoxFor(x=>x.Sinif_id, new {@class="form-control", @readonly="readonly"})
    <br />
    @Html.Label("Sinif Seviyesi")
    @Html.TextBoxFor(x=>x.Sinif_name, new { @class="form-control"})
    @Html.ValidationMessageFor(x=>x.Sinif_name)
    <br />

    <button class="btn btn-info">Sınıfı Güncelle</button>
}


